.ccc {
    color: red;

    &-wrapper {
        color: blue;
    }

    & input {
        border: 1px solid orange;
    }
}

.aaa {
    color: green;

    &-wrapper {
        color: blue;

        &--big {
            padding: 100px 0;
        }
    }

    & input {
        border: 1px solid orange;
    }
}

.bbbbbbb {
    background-image: url(/image/image.jpg);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
